.venv/
.vscode/
virt/
myclub_website/events/__pycache__/
myclub_website/events/migrations/__pycache__/
myclub_website/myclub_website/__pycache__/
myclub_website/members/__pycache__/
myclub_website/members/migrations/__pycache__