{% extends 'events/base.html' %}

{% block content %}

<center>
    {% if user.is_authenticated %}
        <h1>Add Venue to database</h1>
        <hr>
        <br>

        {% if submitted %}
            <h4>Venue submitted successfully</h4>
        {% else %}
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ forms.as_p }}

                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>
        {% endif %}
    {% else %}
        <h1>You must be logged in to view this page. Please login!</h1>
    {% endif %}
</center>
{% endblock %}