{% extends 'events/base.html' %}

{% block content %}

{% if user.is_authenticated %}

<h1>Add Events</h1>
<hr><br><br>

{% if submitted %}
    <h1>Event is already submitted!</h1>
{% else %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Submit" class="btn btn-secondary">
    </form>
{% endif %}


{% else %}
<h1>You must be logged in to view this page. Please logged in</h1>

{% endif %}


{% endblock %}