<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">My Club</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' '2024' 'March' %}">March <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Events
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'event-list' %}">All Events<span class="sr-only">(current)</span></a>
            {% if user.is_authenticated %}
              <a class="dropdown-item" href="{% url 'add-event' %}">Add Events<span class="sr-only">(current)</span></a>
              <a class="dropdown-item" href="{% url 'my-events' %}">My Events<span class="sr-only">(current)</span></a>
            {% endif %}
            <a class="dropdown-item" href="{% url 'search-events' %}">Search Events<span class="sr-only">(current)</span></a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Venues
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'list_venues' %}">All Venues<span class="sr-only">(current)</span></a>
            {% if user.is_authenticated %}
              <a class="dropdown-item" href="{% url 'add-venue' %}">Add Venue<span class="sr-only">(current)</span></a>
            {% endif %}
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Downloads
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'venue-text' %}">Venue Text File<span class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="{% url 'venue-csv' %}">Venue CSV File<span class="sr-only">(current)</span></a>
            <a class="dropdown-item" href="{% url 'venue-pdf' %}">Venue PDF File<span class="sr-only">(current)</span></a>
          </div>
        </li>

        {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
          </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'register-user' %}">Register<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0" method="POST" action="{% url 'search-venues' %}">

        {% csrf_token %}

        <input class="form-control mr-sm-2" type="search" placeholder="Search Venues" 
        aria-label="Search" name="searched">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>