{% extends 'events/base.html' %}

{% block content %}
<div class="card my-3">
    <h5 class="card-header">Venue</h5>
    <div class="card-body">
        <h5 class="card-title">{{ venue }}</h5>
        <ul>
            <li><strong>Address: </strong>{{ venue.address }}</li>
            <li><strong>Zip Code: </strong><a href="">{{ venue.zip_code }}</a></li>
            <li><strong>Contact: </strong>{{ venue.phone }}</li>
            <li><strong>Email address: </strong>{{ venue.email_address }}</li>
            <li><strong>Website: </strong><a href="{{ venue.web }}">{{ venue.web }}</a></li>
            <li><strong>Owner: </strong>{{ venue_owner }}</li>
        </ul>
    </div>
</div>

{% endblock %}