{% extends 'events/base.html' %}

{% block content %}

{% if user.is_authenticated %}
<!-- <h3>Logged in: {{user}}</h3>
<h3>Manager: {{event.manager}}</h3> -->
    {% if user == event.manager or user.is_superuser %}
        <h1>Update Events</h1>
        <hr><br><br>

        <form action="" method="POST">
            {% csrf_token %}

            {{ event_form.as_p }}

            <input type="submit" value="Submit" class="btn btn-secondary">
        </form>
    {% else %}
        <h2>Access Denied</h2>
        <p>Only the event's Manager can update this events.</p>

    {% endif %}
{% else %}
    <h1>You must be logged in!</h1>
{% endif %}


{% endblock %}