{% extends 'events/base.html' %}

{% block content %}
<h1>Login</h1>
<br>
<hr>

<form action="" method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <input type="text" name="username" class="form-control" 
        id="username" aria-describedby="emailHelp"
        placeholder="Username">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" id="password" 
        name="password" placeholder="Password">
    </div>
    <input type="submit" value="Submit">
</form>

{% endblock %}